
.bubbles{
    width: 100vmax;
    height: 100vh;
    overflow:hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-content: space-between;
    pointer-events: none; 
    z-index: -1;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 25px;
    border-radius: 50%;
    box-shadow:  0 0 0 10px #4fc3dc44,  
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc;
    animation: animate 15s linear infinite ;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow:  0 0 0 10px #ff2d7544,
    0 0  50px #ff2d75,
    0 0  100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform:  translateY(-10vh) scale(1);
    }
}

.image-container {
    display: flex;
  justify-content: center;
  align-items: flex-start; /* Esto alinea las imágenes a la parte superior */
  gap: 16px; /* Espacio entre las imágenes */
  padding-top: 20px; /* Espacio desde el borde superior */
  margin-bottom: 20px; 
    z-index: 1;
}

.image-container:last-child {
    margin-top: 10px;
}