.panel {
    position: absolute; /* Coloca el panel de manera absoluta */
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajusta el panel para centrarlo exactamente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

.text-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.text-box {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.btns {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.btn-login, .btn-create {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn-login:hover, .btn-create:hover {
    background-color: #45a049;
}

.btn-create {
    background-color: #007BFF;
}

.btn-create:hover {
    background-color: #0056b3;
}

.btn {
    margin-top: 10px;
}
